@font-face{
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Inter-Thin;
    src: url(fonts/static/Inter-Thin.ttf);
}
@font-face {
    font-family: LexendDeca;
    src: url(fonts/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lexend-Thin;
    src: url(fonts/static/LexendDeca-Thin.ttf);
}
body{
    margin: 0 auto;
    background-color: #0A0C1B;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 1440px;
    width: 1000px;
}
.card{
    width: 100%;
    height: 400px;
    background-color: hsl(277, 64%, 35%);
    display: flex;
    border-radius: 10px;
}

.left{
    width: 50%;
    background-color: #1C1938;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: space-evenly ;
    border-radius: 10px 0px 0px 10px;
}
.right{
    width: 50%;
    background-image: url(images/image-header-desktop.jpg);
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}
.title{
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 29px;
    width: 65%;
    letter-spacing: 1px;
}
#insights{
    color: #A95DD7;
}
.discover{
    font-family: Inter-Thin, sans-serif;
    font-size: 14px;
    width: 65%;
}
.numbers{
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.numbers span{
    font-family: Lexend-Thin, sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    width: 65%;
}

/* Mediaqueries */

@media screen and (max-width: 375px){
    .container{
        width: 100%;
        height: 1000px;
    }
    .card{
        width: 90%;
        height: 800px;
        flex-direction: column-reverse;
    }
    .left{
        width: 100%;
        height: 600px;
        text-align: center;
        border-radius: 0px 0px 10px 10px;
    }
    
    .right{
        width: 100%;
        background-image: url(images/image-header-mobile.jpg);
        height: 200px;
        border-radius: 10px 10px 0px 0px;
    }
    .title{
        width: 85%;
        font-size: 30px;
    }
    .discover{
        width: 85%;
        font-size: 17px;
    }
    .numbers{
        width: 85%;
        height: 210px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
}